
body::before {
  display: block;
  content: '';
  height: 60px;
}
video {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.sponsors {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
}

.item {
     margin: 5px;
}
.videos {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-evenly;
}

.videos2 {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-evenly;

}
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
